@import url("https://fonts.googleapis.com/css?family=Cormorant:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,regular&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #898d92;
  background-color: #0d0f11;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 76.25rem;
  padding-inline: 0.625rem;
  margin: 0 auto;
}

.button {
  text-transform: capitalize;
  font-weight: 500;
  padding-inline: 0.9375rem;
  padding-block: 1.1875rem;
  border: 0.0625rem solid transparent;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.section-header__title {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 75em) {
  .section-header__title {
    font-size: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .section-header__title {
      font-size: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .section-header__title {
      font-size: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .section-header__title {
    font-size: 1.875rem;
  }
}
.section-header__text {
  text-transform: capitalize;
  line-height: 1.6;
}
@media (min-width: 75em) {
  .section-header__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .section-header__text {
      font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .section-header__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .section-header__text {
    font-size: 1rem;
  }
}

.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  z-index: 1000;
}
.header::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.13);
  backdrop-filter: blur(15px);
}
@media (min-width: 62em) {
  .header::after {
    z-index: -1;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  padding-block: 1rem;
}
@media (min-width: 62em) {
  .header__container {
    padding-block: 2.25rem;
  }
}
.header__logo {
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: 0.223125rem;
  text-transform: uppercase;
  color: #dcdbdb;
  position: relative;
  z-index: 100;
}
@media (min-width: 62em) {
  .header__logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (max-width: 29.99875em) {
  .navigation {
    min-width: 100%;
  }
}
@media (min-width: 30em) and (max-width: 61.99875em) {
  .navigation {
    min-width: 50%;
  }
}
@media (max-width: 61.99875em) {
  .navigation {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #141f24;
    -webkit-padding-before: 5rem;
            padding-block-start: 5rem;
    -webkit-padding-after: 1.25rem;
            padding-block-end: 1.25rem;
    padding-inline: 0.625rem;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  }
  .active-menu .navigation {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem 3.75rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 61.99875em) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
    font-size: 1.25rem;
  }
}
@media (min-width: 62em) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.menu__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.menu__link {
  will-change: color;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #ffffff;
  }
}

.burger-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2.5rem;
  height: 1.625rem;
  position: relative;
  z-index: 100;
}
.burger-button > span {
  display: inline-block;
}
.burger-button::before, .burger-button::after {
  content: "";
}
.burger-button::before, .burger-button::after,
.burger-button span {
  width: 100%;
  height: 3px;
  background-color: #898d92;
}
@media (min-width: 62em) {
  .burger-button {
    display: none;
  }
}

.hero {
  position: relative;
  height: 100vh;
  padding-block: 6.25rem;
}
.hero::before, .hero::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  height: 100%;
}
.hero::before {
  width: 50%;
  background-color: #233942;
}
.hero::after {
  width: 100%;
}
@media (max-width: 47.99875em) {
  .hero::after {
    backdrop-filter: brightness(50%);
  }
}
.hero__backgroung {
  max-width: 57.5625rem;
  max-height: 90%;
  aspect-ratio: 921/851;
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero__container {
  position: relative;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.hero__header {
  width: 100%;
}
.hero__header:not(:last-child) {
  -webkit-margin-after: 3.3125rem;
          margin-block-end: 3.3125rem;
}
.hero__header .section-header__title {
  max-width: 4.95em; /* 445/90 */
}
@media (min-width: 75em) {
  .hero__header .section-header__title {
    font-size: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 3.125rem , 2.2159090909rem  +  4.5454545455vw , 5.625rem )) {
    .hero__header .section-header__title {
      font-size: clamp( 3.125rem , 2.2159090909rem  +  4.5454545455vw , 5.625rem );
    }
  }
  @supports not (font-size: clamp( 3.125rem , 2.2159090909rem  +  4.5454545455vw , 5.625rem )) {
    .hero__header .section-header__title {
      font-size: calc(3.125rem + 2.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .hero__header .section-header__title {
    font-size: 3.125rem;
  }
}
.hero__header .section-header__title span {
  display: block;
  text-align: end;
}
.hero__header .section-header__title:not(:last-child) {
  -webkit-margin-after: 3.4375rem;
          margin-block-end: 3.4375rem;
}
@media (min-width: 62em) {
  .hero__header .section-header__title:not(:last-child) {
    -webkit-margin-after: 7.1875rem;
            margin-block-end: 7.1875rem;
  }
}
.hero__header .section-header__text {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  max-width: 14.82em;
}
@media (min-width: 75em) {
  .hero__header .section-header__text {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
    .hero__header .section-header__text {
      font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
    .hero__header .section-header__text {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .hero__header .section-header__text {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) {
  .hero__header .section-header__text {
    color: #ffffff;
  }
}
@media (min-width: 62em) {
  .hero__header:not(:last-child) {
    -webkit-margin-after: 5.1875rem;
            margin-block-end: 5.1875rem;
  }
}
.hero__button {
  font-size: 1.625rem;
  border-width: 0.09375rem;
  border-left-color: #898d92;
  border-top-color: #898d92;
  border-bottom-color: #898d92;
  min-width: 14.875rem;
  position: relative;
  will-change: color, border-color;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
}
.hero__button::after, .hero__button::before {
  content: "";
  width: 0.09375rem;
  height: 33.3%;
  background-color: #898d92;
  position: absolute;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
.hero__button::before {
  inset-inline-end: -0.09375rem;
  inset-block-start: 0;
}
.hero__button::after {
  inset-inline-end: -0.09375rem;
  inset-block-end: 0;
}
@media (any-hover: hover) {
  .hero__button:hover {
    color: #ffffff;
    border-color: #ffffff;
  }
  .hero__button:hover::before, .hero__button:hover::after {
    background-color: #ffffff;
  }
}
.hero__social {
  position: absolute;
}