@import url("https://fonts.googleapis.com/css?family=Cormorant:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,regular&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #898d92;
  background-color: #0d0f11;
  text-transform: capitalize;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 76.25rem;
  padding-inline: 0.625rem;
  margin: 0 auto;
}

.logo {
  font-size: 1.625rem;
  font-weight: 700;
  letter-spacing: 0.223125rem;
  text-transform: uppercase;
  color: #dcdbdb;
  position: relative;
  z-index: 100;
}
@media (min-width: 62em) {
  .logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.button {
  font-weight: 500;
  padding-inline: 0.9375rem;
  padding-block: 1.1875rem;
  border: 0.0625rem solid transparent;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  text-transform: capitalize;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (any-hover: hover) {
  .social__link:hover .social__link-icon {
    fill: #ffffff;
  }
}
.social__link-icon {
  width: 1.875rem;
  height: 1.625rem;
  fill: #233942;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out;
}

.section-header__title {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 75em) {
  .section-header__title {
    font-size: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .section-header__title {
      font-size: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 0.9659090909rem  +  4.5454545455vw , 4.375rem )) {
    .section-header__title {
      font-size: calc(1.875rem + 2.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .section-header__title {
    font-size: 1.875rem;
  }
}
.section-header__text {
  line-height: 1.6;
}
@media (min-width: 75em) {
  .section-header__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .section-header__text {
      font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .section-header__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .section-header__text {
    font-size: 1rem;
  }
}

.header {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  z-index: 1000;
}
.header::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.13);
  backdrop-filter: blur(15px);
}
@media (min-width: 62em) {
  .header::after {
    z-index: -1;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  padding-block: 1rem;
}
@media (min-width: 62em) {
  .header__container {
    padding-block: 2.25rem;
  }
}

@media (max-width: 29.99875em) {
  .navigation {
    min-width: 100%;
  }
}
@media (min-width: 30em) and (max-width: 61.99875em) {
  .navigation {
    min-width: 50%;
  }
}
@media (max-width: 61.99875em) {
  .navigation {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #141f24;
    -webkit-padding-before: 5rem;
            padding-block-start: 5rem;
    -webkit-padding-after: 1.25rem;
            padding-block-end: 1.25rem;
    padding-inline: 0.625rem;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  }
  .active-menu .navigation {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem 3.75rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 61.99875em) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
    font-size: 1.25rem;
  }
}
@media (min-width: 62em) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.menu__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.menu__link {
  will-change: color;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #ffffff;
  }
}

.burger-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 2.5rem;
  height: 1.625rem;
  position: relative;
  z-index: 100;
}
.burger-button > span {
  display: inline-block;
}
.burger-button::before, .burger-button::after {
  content: "";
}
.burger-button::before, .burger-button::after,
.burger-button span {
  width: 100%;
  height: 3px;
  background-color: #898d92;
}
@media (min-width: 62em) {
  .burger-button {
    display: none;
  }
}

.hero {
  position: relative;
  min-height: 100vh;
  -webkit-padding-before: 6.25rem;
          padding-block-start: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 75em) {
  .hero {
    padding-block: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .hero {
      padding-block: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem );
    }
  }
  @supports not (padding-block: clamp( 2.5rem , 1.1363636364rem  +  6.8181818182vw , 6.25rem )) {
    .hero {
      padding-block: calc(2.5rem + 3.75 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .hero {
    padding-block: 2.5rem;
  }
}
.hero::before, .hero::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  height: 100%;
}
.hero::before {
  width: 50%;
  background-color: #233942;
}
.hero::after {
  width: 100%;
}
@media (max-width: 47.99875em) {
  .hero::after {
    backdrop-filter: brightness(50%);
  }
}
.hero__backgroung {
  max-width: 57.5625rem;
  max-height: 90%;
  aspect-ratio: 921/851;
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero__container {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem 4.8125rem;
}
@media (max-width: 47.99875rem) {
  .hero__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.hero__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
@media (max-width: 47.99875rem) {
  .hero__content {
    width: 100%;
  }
}
.hero__header {
  width: 100%;
}
.hero__header:not(:last-child) {
  -webkit-margin-after: 3.3125rem;
          margin-block-end: 3.3125rem;
}
.hero__header .section-header__title {
  max-width: 4.95em; /* 445/90 */
}
@media (min-width: 75em) {
  .hero__header .section-header__title {
    font-size: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 3.125rem , 2.2159090909rem  +  4.5454545455vw , 5.625rem )) {
    .hero__header .section-header__title {
      font-size: clamp( 3.125rem , 2.2159090909rem  +  4.5454545455vw , 5.625rem );
    }
  }
  @supports not (font-size: clamp( 3.125rem , 2.2159090909rem  +  4.5454545455vw , 5.625rem )) {
    .hero__header .section-header__title {
      font-size: calc(3.125rem + 2.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .hero__header .section-header__title {
    font-size: 3.125rem;
  }
}
.hero__header .section-header__title span {
  display: block;
  text-align: end;
}
.hero__header .section-header__title:not(:last-child) {
  -webkit-margin-after: 3.4375rem;
          margin-block-end: 3.4375rem;
}
@media (min-width: 62em) {
  .hero__header .section-header__title:not(:last-child) {
    -webkit-margin-after: 7.1875rem;
            margin-block-end: 7.1875rem;
  }
}
.hero__header .section-header__text {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  max-width: 14.82em;
}
@media (min-width: 75em) {
  .hero__header .section-header__text {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
    .hero__header .section-header__text {
      font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0340909091rem  +  0.4545454545vw , 1.375rem )) {
    .hero__header .section-header__text {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .hero__header .section-header__text {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) {
  .hero__header .section-header__text {
    color: #ffffff;
  }
}
@media (min-width: 62em) {
  .hero__header:not(:last-child) {
    -webkit-margin-after: 5.1875rem;
            margin-block-end: 5.1875rem;
  }
}
.hero__button {
  font-size: 1.625rem;
  border-width: 0.09375rem;
  border-left-color: #898d92;
  border-top-color: #898d92;
  border-bottom-color: #898d92;
  min-width: 14.875rem;
  position: relative;
  will-change: color, border-color;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
}
.hero__button::after, .hero__button::before {
  content: "";
  width: 0.09375rem;
  height: 33.3%;
  background-color: #898d92;
  position: absolute;
  -webkit-transition: background-color 0.4s ease-out, height 0.4s ease-out;
  transition: background-color 0.4s ease-out, height 0.4s ease-out;
}
.hero__button::before {
  inset-inline-end: -0.0625rem;
  inset-block-start: 0;
}
.hero__button::after {
  inset-inline-end: -0.0625rem;
  inset-block-end: 0;
}
@media (any-hover: hover) {
  .hero__button:hover {
    color: #ffffff;
    border-left-color: #ffffff;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
  .hero__button:hover::before, .hero__button:hover::after {
    height: 50%;
    background-color: #ffffff;
  }
}
.hero__social {
  max-height: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.25rem;
}
.hero__social::after, .hero__social::before {
  content: "";
  height: 0.125rem;
  background-color: #233942;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 48rem) {
  .hero__social::after, .hero__social::before {
    width: 0.125rem;
    height: auto;
  }
}
.hero__social .social {
  row-gap: 3.6875rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 75em) {
  .hero__social .social {
    -webkit-column-gap: 3.6875rem;
       -moz-column-gap: 3.6875rem;
            column-gap: 3.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports ((-moz-column-gap: clamp( 0.625rem , -0.4886363636rem  +  5.5681818182vw , 3.6875rem )) or (column-gap: clamp( 0.625rem , -0.4886363636rem  +  5.5681818182vw , 3.6875rem ))) {
    .hero__social .social {
      -webkit-column-gap: clamp( 0.625rem , -0.4886363636rem  +  5.5681818182vw , 3.6875rem );
         -moz-column-gap: clamp( 0.625rem , -0.4886363636rem  +  5.5681818182vw , 3.6875rem );
              column-gap: clamp( 0.625rem , -0.4886363636rem  +  5.5681818182vw , 3.6875rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.625rem , -0.4886363636rem  +  5.5681818182vw , 3.6875rem )) or (column-gap: clamp( 0.625rem , -0.4886363636rem  +  5.5681818182vw , 3.6875rem ))) {
    .hero__social .social {
      -webkit-column-gap: calc(0.625rem + 3.0625 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(0.625rem + 3.0625 * (100vw - 20rem) / 55);
              column-gap: calc(0.625rem + 3.0625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .hero__social .social {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
@media (min-width: 48rem) {
  .hero__social .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
@media (max-width: 47.99875rem) {
  .hero__social {
    width: 100%;
  }
}
@media (min-width: 48rem) {
  .hero__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 76.25em) {
  .hero__social {
    -webkit-margin-end: -0.9375rem;
            margin-inline-end: -0.9375rem;
  }
}

.about {
  scroll-margin-block-start: 3.625rem;
}
@media (min-width: 62em) {
  .about {
    scroll-margin-block-start: 6.125rem;
  }
}
@media (min-width: 75em) {
  .about__container {
    -webkit-padding-after: 4.25rem;
            padding-block-end: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-end: clamp( 1.875rem , 1.0113636364rem  +  4.3181818182vw , 4.25rem )) {
    .about__container {
      -webkit-padding-after: clamp( 1.875rem , 1.0113636364rem  +  4.3181818182vw , 4.25rem );
              padding-block-end: clamp( 1.875rem , 1.0113636364rem  +  4.3181818182vw , 4.25rem );
    }
  }
  @supports not (padding-block-end: clamp( 1.875rem , 1.0113636364rem  +  4.3181818182vw , 4.25rem )) {
    .about__container {
      -webkit-padding-after: calc(1.875rem + 2.375 * (100vw - 20rem) / 55);
              padding-block-end: calc(1.875rem + 2.375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .about__container {
    -webkit-padding-after: 1.875rem;
            padding-block-end: 1.875rem;
  }
}
@media (min-width: 75em) {
  .about__container {
    -webkit-padding-before: 9.5rem;
            padding-block-start: 9.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 3.125rem , 0.8068181818rem  +  11.5909090909vw , 9.5rem )) {
    .about__container {
      -webkit-padding-before: clamp( 3.125rem , 0.8068181818rem  +  11.5909090909vw , 9.5rem );
              padding-block-start: clamp( 3.125rem , 0.8068181818rem  +  11.5909090909vw , 9.5rem );
    }
  }
  @supports not (padding-block-start: clamp( 3.125rem , 0.8068181818rem  +  11.5909090909vw , 9.5rem )) {
    .about__container {
      -webkit-padding-before: calc(3.125rem + 6.375 * (100vw - 20rem) / 55);
              padding-block-start: calc(3.125rem + 6.375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .about__container {
    -webkit-padding-before: 3.125rem;
            padding-block-start: 3.125rem;
  }
}
.about__scroll-icon {
  width: 1.875rem;
  height: 10.625rem;
  fill: #233942;
  -webkit-margin-start: 7.3125rem;
          margin-inline-start: 7.3125rem;
  -webkit-margin-before: -0.625rem;
          margin-block-start: -0.625rem;
}
@media (max-width: 61.99875em) {
  .about__scroll-icon {
    display: none;
  }
}
.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem 1.875rem;
}
@media (min-width: 48em) {
  .about__header .section-header__title span {
    display: block;
  }
}
.about__header .section-header__text {
  max-width: 32rem;
}
@media (min-width: 33.75em) {
  .about__header .section-header__text {
    -webkit-margin-start: auto;
            margin-inline-start: auto;
  }
}
@media (max-width: 61.99875em) {
  .about__header:not(:last-child) {
    -webkit-margin-after: 1.875rem;
            margin-block-end: 1.875rem;
  }
}
@media (min-width: 62em) {
  .about__header {
    -webkit-padding-end: 1.875rem;
            padding-inline-end: 1.875rem;
  }
}
.about__slider-wrapper {
  -webkit-padding-after: 4.25rem;
          padding-block-end: 4.25rem;
}
@media (min-width: 75em) {
  .about__slider-wrapper {
    -webkit-padding-before: 6.625rem;
            padding-block-start: 6.625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 1.875rem , 0.1477272727rem  +  8.6363636364vw , 6.625rem )) {
    .about__slider-wrapper {
      -webkit-padding-before: clamp( 1.875rem , 0.1477272727rem  +  8.6363636364vw , 6.625rem );
              padding-block-start: clamp( 1.875rem , 0.1477272727rem  +  8.6363636364vw , 6.625rem );
    }
  }
  @supports not (padding-block-start: clamp( 1.875rem , 0.1477272727rem  +  8.6363636364vw , 6.625rem )) {
    .about__slider-wrapper {
      -webkit-padding-before: calc(1.875rem + 4.75 * (100vw - 20rem) / 55);
              padding-block-start: calc(1.875rem + 4.75 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .about__slider-wrapper {
    -webkit-padding-before: 1.875rem;
            padding-block-start: 1.875rem;
  }
}
.about__swiper.swiper {
  width: 100%;
}
.about__swiper .swiper-wrapper:not(:last-child) {
  -webkit-margin-after: 3.6875rem;
          margin-block-end: 3.6875rem;
}
.about__swiper .swiper-slide {
  max-width: 25rem;
  aspect-ratio: 293/358;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__swiper-image {
  aspect-ratio: 293/358;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.about__swiper-button-prev, .about__swiper-button-next {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-mask: url("../images/icons/arrow.svg") center/contain no-repeat;
          mask: url("../images/icons/arrow.svg") center/contain no-repeat;
}
.about__swiper-button-prev.swiper-button-disabled, .about__swiper-button-next.swiper-button-disabled {
  background-color: #898d92;
}
.about__swiper-button-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.counter-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  row-gap: 1.875rem;
  color: #ffffff;
  text-align: end;
  padding-block: 1rem;
}
@media (min-width: 75em) {
  .counter-about {
    -webkit-column-gap: 7.3125rem;
       -moz-column-gap: 7.3125rem;
            column-gap: 7.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports ((-moz-column-gap: clamp( 1.25rem , -0.9545454545rem  +  11.0227272727vw , 7.3125rem )) or (column-gap: clamp( 1.25rem , -0.9545454545rem  +  11.0227272727vw , 7.3125rem ))) {
    .counter-about {
      -webkit-column-gap: clamp( 1.25rem , -0.9545454545rem  +  11.0227272727vw , 7.3125rem );
         -moz-column-gap: clamp( 1.25rem , -0.9545454545rem  +  11.0227272727vw , 7.3125rem );
              column-gap: clamp( 1.25rem , -0.9545454545rem  +  11.0227272727vw , 7.3125rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.25rem , -0.9545454545rem  +  11.0227272727vw , 7.3125rem )) or (column-gap: clamp( 1.25rem , -0.9545454545rem  +  11.0227272727vw , 7.3125rem ))) {
    .counter-about {
      -webkit-column-gap: calc(1.25rem + 6.0625 * (100vw - 20rem) / 55);
         -moz-column-gap: calc(1.25rem + 6.0625 * (100vw - 20rem) / 55);
              column-gap: calc(1.25rem + 6.0625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .counter-about {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (min-width: 33.75em) {
  .counter-about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.counter-about__item {
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
  padding-block: 0.875rem;
  -webkit-border-end: 0.09375rem solid #ffffff;
          border-inline-end: 0.09375rem solid #ffffff;
}
@media (min-width: 33.75em) {
  .counter-about__item {
    -webkit-padding-end: 2.3125rem;
            padding-inline-end: 2.3125rem;
    padding-block: 1.8125rem;
  }
}
.counter-about__item-data {
  font-family: "Cormorant", serif;
}
@media (min-width: 75em) {
  .counter-about__item-data {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 3.75rem )) {
    .counter-about__item-data {
      font-size: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.3409090909rem  +  4.5454545455vw , 3.75rem )) {
    .counter-about__item-data {
      font-size: calc(1.25rem + 2.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .counter-about__item-data {
    font-size: 1.25rem;
  }
}
.counter-about__item-data:not(:last-child) {
  -webkit-margin-after: 1.3125rem;
          margin-block-end: 1.3125rem;
}
@media (min-width: 75em) {
  .counter-about__item-data-name {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .counter-about__item-data-name {
      font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
    .counter-about__item-data-name {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .counter-about__item-data-name {
    font-size: 1rem;
  }
}

.portfolio {
  scroll-margin-block-start: 3.625rem;
}
@media (min-width: 62em) {
  .portfolio {
    scroll-margin-block-start: 6.125rem;
  }
}
@media (min-width: 75em) {
  .portfolio {
    -webkit-padding-before: 4.75rem;
            padding-block-start: 4.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 2.5rem , 1.6818181818rem  +  4.0909090909vw , 4.75rem )) {
    .portfolio {
      -webkit-padding-before: clamp( 2.5rem , 1.6818181818rem  +  4.0909090909vw , 4.75rem );
              padding-block-start: clamp( 2.5rem , 1.6818181818rem  +  4.0909090909vw , 4.75rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.5rem , 1.6818181818rem  +  4.0909090909vw , 4.75rem )) {
    .portfolio {
      -webkit-padding-before: calc(2.5rem + 2.25 * (100vw - 20rem) / 55);
              padding-block-start: calc(2.5rem + 2.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .portfolio {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
@media (min-width: 75em) {
  .portfolio {
    -webkit-padding-after: 5.8125rem;
            padding-block-end: 5.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-end: clamp( 2.5rem , 1.2954545455rem  +  6.0227272727vw , 5.8125rem )) {
    .portfolio {
      -webkit-padding-after: clamp( 2.5rem , 1.2954545455rem  +  6.0227272727vw , 5.8125rem );
              padding-block-end: clamp( 2.5rem , 1.2954545455rem  +  6.0227272727vw , 5.8125rem );
    }
  }
  @supports not (padding-block-end: clamp( 2.5rem , 1.2954545455rem  +  6.0227272727vw , 5.8125rem )) {
    .portfolio {
      -webkit-padding-after: calc(2.5rem + 3.3125 * (100vw - 20rem) / 55);
              padding-block-end: calc(2.5rem + 3.3125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .portfolio {
    -webkit-padding-after: 2.5rem;
            padding-block-end: 2.5rem;
  }
}
.portfolio__container:not(:last-child) {
  -webkit-margin-after: 2.5rem;
          margin-block-end: 2.5rem;
}
@media (min-width: 62rem) {
  .portfolio__container:not(:last-child) {
    -webkit-margin-after: 6.6875rem;
            margin-block-end: 6.6875rem;
  }
}
.portfolio__header {
  text-align: end;
}
.portfolio__header:not(:last-child) {
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
@media (min-width: 62rem) {
  .portfolio__header:not(:last-child) {
    -webkit-margin-after: 3.5rem;
            margin-block-end: 3.5rem;
  }
}
.portfolio__collection {
  height: 44.0625rem;
  overflow-x: auto;
  scrollbar-color: #898d92 #0d0f11;
  scrollbar-width: thin;
  position: relative;
}
.portfolio__collection-button {
  position: absolute;
  inset-block-end: 4.75rem;
  inset-inline-start: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: inherit;
  color: #ffffff;
  padding-inline: 1.5625rem;
  -webkit-padding-before: 0.1875rem;
          padding-block-start: 0.1875rem;
  -webkit-padding-after: 0.3125rem;
          padding-block-end: 0.3125rem;
  background: rgba(102, 102, 102, 0.21);
  backdrop-filter: blur(4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.375rem;
}
@media (min-width: 75em) {
  .portfolio__collection-button {
    font-size: 2.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.5rem , 1.1590909091rem  +  1.7045454545vw , 2.4375rem )) {
    .portfolio__collection-button {
      font-size: clamp( 1.5rem , 1.1590909091rem  +  1.7045454545vw , 2.4375rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.1590909091rem  +  1.7045454545vw , 2.4375rem )) {
    .portfolio__collection-button {
      font-size: calc(1.5rem + 0.9375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .portfolio__collection-button {
    font-size: 1.5rem;
  }
}
.portfolio__collection-button::after {
  content: "";
  width: 5.0625rem;
  height: 1rem;
  background: url("../images/icons/arrow-long-white.svg") center/contain no-repeat;
}
@media (min-width: 33.6875rem) {
  .portfolio__collection-button {
    inset-inline-start: 10.125rem;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.portfolio__collection-content {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(14.875rem, 18.8125rem) minmax(18.1875rem, 18.8125rem);
  grid-auto-columns: minmax(14.875rem, 18.8125rem);
  grid-template-rows: repeat(3, minmax(11.125rem, 33%));
  grid-auto-flow: column dense;
}
.portfolio__collection-item {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.3125rem 1.5625rem;
}
@media (min-width: 62rem) {
  .filter-form {
    gap: 0.625rem 4.3125rem;
  }
}
.filter-form__label {
  position: relative;
  font-family: "Cormorant", serif;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.6;
}
.filter-form__label:has(:checked) {
  color: #ffffff;
  text-shadow: 0 0 0.125rem #ffffff;
}
.filter-form__checkbox {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 1px;
}

.advantages__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.4375rem, 1fr));
  gap: 0.625rem 1.875rem;
}
@media (min-width: 75em) {
  .advantages__container {
    -webkit-padding-before: 4.75rem;
            padding-block-start: 4.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 2.5rem , 1.6818181818rem  +  4.0909090909vw , 4.75rem )) {
    .advantages__container {
      -webkit-padding-before: clamp( 2.5rem , 1.6818181818rem  +  4.0909090909vw , 4.75rem );
              padding-block-start: clamp( 2.5rem , 1.6818181818rem  +  4.0909090909vw , 4.75rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.5rem , 1.6818181818rem  +  4.0909090909vw , 4.75rem )) {
    .advantages__container {
      -webkit-padding-before: calc(2.5rem + 2.25 * (100vw - 20rem) / 55);
              padding-block-start: calc(2.5rem + 2.25 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .advantages__container {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
@media (min-width: 75em) {
  .advantages__container {
    -webkit-padding-after: 4.3125rem;
            padding-block-end: 4.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-end: clamp( 2.5rem , 1.8409090909rem  +  3.2954545455vw , 4.3125rem )) {
    .advantages__container {
      -webkit-padding-after: clamp( 2.5rem , 1.8409090909rem  +  3.2954545455vw , 4.3125rem );
              padding-block-end: clamp( 2.5rem , 1.8409090909rem  +  3.2954545455vw , 4.3125rem );
    }
  }
  @supports not (padding-block-end: clamp( 2.5rem , 1.8409090909rem  +  3.2954545455vw , 4.3125rem )) {
    .advantages__container {
      -webkit-padding-after: calc(2.5rem + 1.8125 * (100vw - 20rem) / 55);
              padding-block-end: calc(2.5rem + 1.8125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .advantages__container {
    -webkit-padding-after: 2.5rem;
            padding-block-end: 2.5rem;
  }
}
@media (max-width: 61.99875em) {
  .advantages__container > *:nth-child(2) {
    grid-column-start: 1;
  }
}
@media (min-width: 62em) {
  .advantages__container {
    grid-template-columns: auto 1fr auto;
    row-gap: 3.125rem;
  }
  .advantages__container > *:nth-child(3n+2) {
    justify-self: center;
  }
}
.advantages__header > *:not(:last-child) {
  -webkit-margin-after: 1.5rem;
          margin-block-end: 1.5rem;
}
@media (min-width: 31.93625em) and (max-width: 61.99875em) {
  .advantages__header {
    grid-column: span 2;
  }
}
@media (min-width: 62em) {
  .advantages__header {
    max-width: 22.9375rem;
  }
}
@media (min-width: 48em) {
  .advantages__benefit {
    max-width: 14.4375rem;
  }
}

.benefit {
  -webkit-padding-after: 0.9375rem;
          padding-block-end: 0.9375rem;
  line-height: 1.6;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
  position: relative;
}
@media (min-width: 75em) {
  .benefit {
    -webkit-padding-before: 1.5rem;
            padding-block-start: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .benefit {
      -webkit-padding-before: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem );
              padding-block-start: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem );
    }
  }
  @supports not (padding-block-start: clamp( 0.625rem , 0.3068181818rem  +  1.5909090909vw , 1.5rem )) {
    .benefit {
      -webkit-padding-before: calc(0.625rem + 0.875 * (100vw - 20rem) / 55);
              padding-block-start: calc(0.625rem + 0.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .benefit {
    -webkit-padding-before: 0.625rem;
            padding-block-start: 0.625rem;
  }
}
.benefit::after {
  content: "";
  position: absolute;
  width: calc(100% + 58px);
  height: 100%;
  inset-inline-start: -1.8125rem;
  inset-block-start: 0;
  border: 0.1875rem solid transparent;
  -webkit-transition: border-color 0.4s ease-out;
  transition: border-color 0.4s ease-out;
}
.benefit > *:not(:last-child) {
  -webkit-margin-after: 0.625rem;
          margin-block-end: 0.625rem;
}
.benefit__icon {
  width: 1.875rem;
  height: 1.875rem;
  -webkit-transition: -webkit-filter 0.3s ease-out;
  transition: -webkit-filter 0.3s ease-out;
  transition: filter 0.3s ease-out;
  transition: filter 0.3s ease-out, -webkit-filter 0.3s ease-out;
}
.benefit__title {
  font-size: 1.25rem;
  font-weight: 500;
}
.benefit__text {
  font-weight: 300;
}
@media (min-width: 62em) {
  .benefit__text {
    -webkit-padding-end: 0.9375rem;
            padding-inline-end: 0.9375rem;
  }
}
@media (min-width: 62em) {
  .benefit {
    -webkit-padding-after: 1.875rem;
            padding-block-end: 1.875rem;
  }
}
@media (any-hover: hover) {
  .benefit:hover {
    color: #ffffff;
  }
  .benefit:hover::after {
    border-color: #233942;
  }
  .benefit:hover img {
    -webkit-filter: invert(1) brightness(5);
            filter: invert(1) brightness(5);
  }
}

.testimonials {
  background-color: #141f24;
}
@media (min-width: 75em) {
  .testimonials__container {
    -webkit-padding-before: 5.5rem;
            padding-block-start: 5.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem )) {
    .testimonials__container {
      -webkit-padding-before: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem );
              padding-block-start: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem )) {
    .testimonials__container {
      -webkit-padding-before: calc(2.5rem + 3 * (100vw - 20rem) / 55);
              padding-block-start: calc(2.5rem + 3 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .testimonials__container {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
@media (min-width: 75em) {
  .testimonials__container {
    -webkit-padding-after: 7.5rem;
            padding-block-end: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-end: clamp( 3.75rem , 2.3863636364rem  +  6.8181818182vw , 7.5rem )) {
    .testimonials__container {
      -webkit-padding-after: clamp( 3.75rem , 2.3863636364rem  +  6.8181818182vw , 7.5rem );
              padding-block-end: clamp( 3.75rem , 2.3863636364rem  +  6.8181818182vw , 7.5rem );
    }
  }
  @supports not (padding-block-end: clamp( 3.75rem , 2.3863636364rem  +  6.8181818182vw , 7.5rem )) {
    .testimonials__container {
      -webkit-padding-after: calc(3.75rem + 3.75 * (100vw - 20rem) / 55);
              padding-block-end: calc(3.75rem + 3.75 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .testimonials__container {
    -webkit-padding-after: 3.75rem;
            padding-block-end: 3.75rem;
  }
}
@media (min-width: 75em) {
  .testimonials__header:not(:last-child) {
    -webkit-margin-after: 3.8125rem;
            margin-block-end: 3.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-block-end: clamp( 1.875rem , 1.1704545455rem  +  3.5227272727vw , 3.8125rem )) {
    .testimonials__header:not(:last-child) {
      -webkit-margin-after: clamp( 1.875rem , 1.1704545455rem  +  3.5227272727vw , 3.8125rem );
              margin-block-end: clamp( 1.875rem , 1.1704545455rem  +  3.5227272727vw , 3.8125rem );
    }
  }
  @supports not (margin-block-end: clamp( 1.875rem , 1.1704545455rem  +  3.5227272727vw , 3.8125rem )) {
    .testimonials__header:not(:last-child) {
      -webkit-margin-after: calc(1.875rem + 1.9375 * (100vw - 20rem) / 55);
              margin-block-end: calc(1.875rem + 1.9375 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .testimonials__header:not(:last-child) {
    -webkit-margin-after: 1.875rem;
            margin-block-end: 1.875rem;
  }
}
.testimonials__slider .swiper-slide {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 30em) {
  .testimonials__slider .swiper-slide {
    width: 24.21875rem;
  }
}

.testimonial-card {
  padding: 2.1875rem;
  background-color: #233942;
  color: #ffffff;
}
.testimonial-card__author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.8125rem;
  -webkit-padding-after: 1.875rem;
          padding-block-end: 1.875rem;
}
.testimonial-card__author-info:not(:last-child) {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.34);
  -webkit-margin-after: 1.875rem;
          margin-block-end: 1.875rem;
}
.testimonial-card__author-avatar {
  width: 4.125rem;
  height: 4.125rem;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-card__author-image {
  width: 100%;
}
.testimonial-card__author-data > *:not(:last-child) {
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
}
.testimonial-card__author-name {
  font-family: "Cormorant", serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.testimonial-card__author-source, .testimonial-card__text {
  font-size: 0.9375rem;
}
.testimonial-card__text {
  font-weight: 300;
  line-height: 1.8;
}

.pricelist {
  scroll-margin-block-start: 3.625rem;
  -webkit-padding-after: 3.25rem;
          padding-block-end: 3.25rem;
  background: url("../images/pricelist/pricelist.jpg") center/cover no-repeat;
}
@media (min-width: 62em) {
  .pricelist {
    scroll-margin-block-start: 6.125rem;
  }
}
@media (min-width: 75em) {
  .pricelist {
    -webkit-padding-before: 4.6875rem;
            padding-block-start: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 2.5rem , 1.7045454545rem  +  3.9772727273vw , 4.6875rem )) {
    .pricelist {
      -webkit-padding-before: clamp( 2.5rem , 1.7045454545rem  +  3.9772727273vw , 4.6875rem );
              padding-block-start: clamp( 2.5rem , 1.7045454545rem  +  3.9772727273vw , 4.6875rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.5rem , 1.7045454545rem  +  3.9772727273vw , 4.6875rem )) {
    .pricelist {
      -webkit-padding-before: calc(2.5rem + 2.1875 * (100vw - 20rem) / 55);
              padding-block-start: calc(2.5rem + 2.1875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .pricelist {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
@media (min-width: 75em) {
  .pricelist__container:not(:last-child) {
    -webkit-margin-after: 5.0625rem;
            margin-block-end: 5.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (margin-block-end: clamp( 2.5rem , 1.5681818182rem  +  4.6590909091vw , 5.0625rem )) {
    .pricelist__container:not(:last-child) {
      -webkit-margin-after: clamp( 2.5rem , 1.5681818182rem  +  4.6590909091vw , 5.0625rem );
              margin-block-end: clamp( 2.5rem , 1.5681818182rem  +  4.6590909091vw , 5.0625rem );
    }
  }
  @supports not (margin-block-end: clamp( 2.5rem , 1.5681818182rem  +  4.6590909091vw , 5.0625rem )) {
    .pricelist__container:not(:last-child) {
      -webkit-margin-after: calc(2.5rem + 2.5625 * (100vw - 20rem) / 55);
              margin-block-end: calc(2.5rem + 2.5625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .pricelist__container:not(:last-child) {
    -webkit-margin-after: 2.5rem;
            margin-block-end: 2.5rem;
  }
}
.pricelist__swiper.swiper {
  -webkit-padding-after: 3.4375rem;
          padding-block-end: 3.4375rem;
}
@media (min-width: 33.75em) {
  .pricelist__swiper.swiper {
    -webkit-padding-after: 5.3125rem;
            padding-block-end: 5.3125rem;
  }
}
@media (min-width: 33.75em) {
  .pricelist__swiper .swiper-wrapper {
    min-width: 31.75rem;
    min-height: 42.75rem;
  }
}
.pricelist__swiper .swiper-slide {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (min-width: 33.75em) {
  .pricelist__swiper .swiper-slide {
    width: 30.75rem;
  }
}
.pricelist__swiper .swiper-slide.swiper-slide-active {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
@media (min-width: 33.75em) {
  .pricelist__swiper .swiper-slide.swiper-slide-active {
    width: 31.75rem;
  }
}
.pricelist__swiper .swiper-slide.swiper-slide-active .price-card {
  border-color: #233942;
}
@media (min-width: 33.75em) {
  .pricelist__swiper .swiper-slide.swiper-slide-active .price-card__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 33.75em) {
  .pricelist__swiper .swiper-slide.swiper-slide-active .price-card__price {
    font-size: 2.5rem;
  }
}
@media (min-width: 33.75em) {
  .pricelist__swiper .swiper-slide.swiper-slide-active .price-card__details-list {
    font-size: 1.625rem;
    letter-spacing: 0.0325rem;
  }
}
@media (min-width: 33.75em) {
  .pricelist__swiper .swiper-slide.swiper-slide-active .button {
    font-size: 1.875rem;
  }
}
.pricelist__swiper .swiper-pagination .swiper-pagination-bullet {
  width: 1.125rem;
  height: 1.125rem;
  background-color: rgba(255, 255, 255, 0.37);
}
.pricelist__swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #233942;
}

.price-card {
  padding-block: 0.9375rem;
  padding-inline: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2.8125rem;
  border: 0.375rem solid transparent;
  background: rgba(95, 93, 93, 0.12);
  backdrop-filter: blur(0.3125rem);
  color: #ffffff;
  will-change: border-color;
  -webkit-transition: border-color 0.5s ease-out, width 0.5s ease-out;
  transition: border-color 0.5s ease-out, width 0.5s ease-out;
}
@media (min-width: 30em) {
  .price-card {
    padding-block: 1.25rem;
    padding-inline: 2.5rem;
    row-gap: 3.9375rem;
  }
}
@media (min-width: 40em) {
  .price-card {
    padding-block: 1.875rem;
    padding-inline: 3.5625rem;
  }
}
.price-card__title {
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 33.75em) {
  .price-card__title {
    font-size: 2rem;
  }
}
.price-card__price {
  font-family: "Cormorant", serif;
  font-size: 2.25rem;
  -webkit-margin-before: -1.875rem;
          margin-block-start: -1.875rem;
}
@media (min-width: 33.75em) {
  .price-card__price {
    font-size: 2.25rem;
  }
}
.price-card__details-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.1875rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.0275rem;
}
@media (min-width: 26.5625em) {
  .price-card__details-list {
    font-size: 1.25rem;
  }
}
@media (min-width: 33.75em) {
  .price-card__details-list {
    row-gap: 3.9375rem;
    font-size: 1.375rem;
  }
}
.price-card__details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
.price-card .button {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.0325rem;
  border-color: #ffffff;
  padding-block: 1.625rem;
  padding-inline: 1.1875rem;
  will-change: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
@media (min-width: 26.5625em) {
  .price-card .button {
    font-size: 1.25rem;
  }
}
@media (min-width: 33.75em) {
  .price-card .button {
    font-size: 1.625rem;
  }
}
@media (any-hover: hover) {
  .price-card .button:hover {
    background-color: #233942;
  }
}
.price-card .price-card__title,
.price-card .price-card__price,
.price-card .price-card__details-list, .price-card .button {
  will-change: font-size;
  -webkit-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out;
}

@media (min-width: 75em) {
  .subscription__container {
    -webkit-padding-before: 7.5625rem;
            padding-block-start: 7.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 2.5rem , 0.6590909091rem  +  9.2045454545vw , 7.5625rem )) {
    .subscription__container {
      -webkit-padding-before: clamp( 2.5rem , 0.6590909091rem  +  9.2045454545vw , 7.5625rem );
              padding-block-start: clamp( 2.5rem , 0.6590909091rem  +  9.2045454545vw , 7.5625rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.5rem , 0.6590909091rem  +  9.2045454545vw , 7.5625rem )) {
    .subscription__container {
      -webkit-padding-before: calc(2.5rem + 5.0625 * (100vw - 20rem) / 55);
              padding-block-start: calc(2.5rem + 5.0625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .subscription__container {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
.subscription__body {
  margin: 0 auto;
  width: calc(100% - 25px);
  background-color: #233942;
  padding-inline: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 75em) {
  .subscription__body {
    -webkit-padding-before: 4.125rem;
            padding-block-start: 4.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 2.5rem , 1.9090909091rem  +  2.9545454545vw , 4.125rem )) {
    .subscription__body {
      -webkit-padding-before: clamp( 2.5rem , 1.9090909091rem  +  2.9545454545vw , 4.125rem );
              padding-block-start: clamp( 2.5rem , 1.9090909091rem  +  2.9545454545vw , 4.125rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.5rem , 1.9090909091rem  +  2.9545454545vw , 4.125rem )) {
    .subscription__body {
      -webkit-padding-before: calc(2.5rem + 1.625 * (100vw - 20rem) / 55);
              padding-block-start: calc(2.5rem + 1.625 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .subscription__body {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
@media (min-width: 75em) {
  .subscription__body {
    -webkit-padding-after: 6.625rem;
            padding-block-end: 6.625rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-end: clamp( 3.125rem , 1.8522727273rem  +  6.3636363636vw , 6.625rem )) {
    .subscription__body {
      -webkit-padding-after: clamp( 3.125rem , 1.8522727273rem  +  6.3636363636vw , 6.625rem );
              padding-block-end: clamp( 3.125rem , 1.8522727273rem  +  6.3636363636vw , 6.625rem );
    }
  }
  @supports not (padding-block-end: clamp( 3.125rem , 1.8522727273rem  +  6.3636363636vw , 6.625rem )) {
    .subscription__body {
      -webkit-padding-after: calc(3.125rem + 3.5 * (100vw - 20rem) / 55);
              padding-block-end: calc(3.125rem + 3.5 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .subscription__body {
    -webkit-padding-after: 3.125rem;
            padding-block-end: 3.125rem;
  }
}
@media (min-width: 75em) {
  .subscription__body {
    row-gap: 5.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (row-gap: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem )) {
    .subscription__body {
      row-gap: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem );
    }
  }
  @supports not (row-gap: clamp( 2.5rem , 1.4090909091rem  +  5.4545454545vw , 5.5rem )) {
    .subscription__body {
      row-gap: calc(2.5rem + 3 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .subscription__body {
    row-gap: 2.5rem;
  }
}
@media (min-width: 62em) {
  .subscription__body {
    width: calc(100% - 98px);
    padding-inline: 1.875rem;
  }
}
.subscription__title {
  font-family: "Cormorant", serif;
  max-width: 35.375rem;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 75em) {
  .subscription__title {
    font-size: 4.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (font-size: clamp( 1.875rem , 1.0340909091rem  +  4.2045454545vw , 4.1875rem )) {
    .subscription__title {
      font-size: clamp( 1.875rem , 1.0340909091rem  +  4.2045454545vw , 4.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.0340909091rem  +  4.2045454545vw , 4.1875rem )) {
    .subscription__title {
      font-size: calc(1.875rem + 2.3125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .subscription__title {
    font-size: 1.875rem;
  }
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: inherit;
}
.subscription-form__row {
  width: 78%; /* 702/900 */
  max-width: 43.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 1.25rem;
}
@media (max-width: 47.99875em) {
  .subscription-form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}
@media (min-width: 62em) {
  .subscription-form__row {
    font-size: 1.625rem;
  }
}
.subscription-form__label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.subscription-form__input {
  padding-block: 0.85em;
}
.subscription-form__input::-webkit-input-placeholder {
  font-family: "Cormorant", serif;
  text-transform: capitalize;
}
.subscription-form__input::-moz-placeholder {
  font-family: "Cormorant", serif;
  text-transform: capitalize;
}
.subscription-form__input:-ms-input-placeholder {
  font-family: "Cormorant", serif;
  text-transform: capitalize;
}
.subscription-form__input::-ms-input-placeholder {
  font-family: "Cormorant", serif;
  text-transform: capitalize;
}
.subscription-form__input::placeholder {
  font-family: "Cormorant", serif;
  text-transform: capitalize;
}
@media (min-width: 62em) {
  .subscription-form__input {
    -webkit-padding-start: 1.625rem;
            padding-inline-start: 1.625rem;
  }
}
.subscription-form__button {
  padding-inline: 2.1875rem;
  padding-block: 1.0625rem;
  background-color: #233942;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
@media (max-width: 47.99875em) {
  .subscription-form__button {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (any-hover: hover) {
  .subscription-form__button:hover {
    background-color: #141f24;
  }
}
.subscription-form__policy-row {
  max-width: 56.25rem;
  text-align: center;
  text-transform: none;
}
.subscription-form__policy-row span {
  font-weight: 600;
}
@media (min-width: 62em) {
  .subscription-form__policy-row {
    font-size: 1.25rem;
  }
}
.subscription-form__policy {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 0.03125rem;
  -webkit-transition: text-decoration-color 0.4s ease-out;
  transition: text-decoration-color 0.4s ease-out;
}
@media (any-hover: hover) {
  .subscription-form__policy:hover {
    text-decoration-color: #ffffff;
  }
}
.subscription-form__policy-row span, .subscription-form__policy, .subscription-form__button {
  color: #ffffff;
}

.footer {
  background-color: #141f24;
  -webkit-padding-before: 7.25rem;
          padding-block-start: 7.25rem;
  -webkit-margin-before: -7.25rem;
          margin-block-start: -7.25rem;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.25rem;
     -moz-column-gap: 3.25rem;
          column-gap: 3.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 75em) {
  .footer__container {
    -webkit-padding-before: 7.75rem;
            padding-block-start: 7.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-start: clamp( 3.875rem , 2.4659090909rem  +  7.0454545455vw , 7.75rem )) {
    .footer__container {
      -webkit-padding-before: clamp( 3.875rem , 2.4659090909rem  +  7.0454545455vw , 7.75rem );
              padding-block-start: clamp( 3.875rem , 2.4659090909rem  +  7.0454545455vw , 7.75rem );
    }
  }
  @supports not (padding-block-start: clamp( 3.875rem , 2.4659090909rem  +  7.0454545455vw , 7.75rem )) {
    .footer__container {
      -webkit-padding-before: calc(3.875rem + 3.875 * (100vw - 20rem) / 55);
              padding-block-start: calc(3.875rem + 3.875 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .footer__container {
    -webkit-padding-before: 3.875rem;
            padding-block-start: 3.875rem;
  }
}
@media (min-width: 75em) {
  .footer__container {
    -webkit-padding-after: 3rem;
            padding-block-end: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (padding-block-end: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem )) {
    .footer__container {
      -webkit-padding-after: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem );
              padding-block-end: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem );
    }
  }
  @supports not (padding-block-end: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem )) {
    .footer__container {
      -webkit-padding-after: calc(1.875rem + 1.125 * (100vw - 20rem) / 55);
              padding-block-end: calc(1.875rem + 1.125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .footer__container {
    -webkit-padding-after: 1.875rem;
            padding-block-end: 1.875rem;
  }
}
@media (min-width: 75em) {
  .footer__container {
    row-gap: 7.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 75em) {
  @supports (row-gap: clamp( 3.125rem , 1.5568181818rem  +  7.8409090909vw , 7.4375rem )) {
    .footer__container {
      row-gap: clamp( 3.125rem , 1.5568181818rem  +  7.8409090909vw , 7.4375rem );
    }
  }
  @supports not (row-gap: clamp( 3.125rem , 1.5568181818rem  +  7.8409090909vw , 7.4375rem )) {
    .footer__container {
      row-gap: calc(3.125rem + 4.3125 * (100vw - 20rem) / 55);
    }
  }
}
@media (max-width: 20em) {
  .footer__container {
    row-gap: 3.125rem;
  }
}
@media (max-width: 49.87375em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__logo {
  text-align: center;
}
.footer__social {
  gap: 1.25rem 3.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__social .social__link-icon {
  width: 1.75rem;
  height: 1.75rem;
  fill: #ffffff;
}
@media (any-hover: hover) {
  .footer__social .social__link-icon:hover {
    fill: #898d92;
  }
}
.footer__copyright {
  min-width: 100%;
  text-align: center;
}