.logo {
    font-size: toRem(26);
    font-weight: 700;
    letter-spacing: toRem(3.57);
    text-transform: uppercase;
    color: #dcdbdb;
    position: relative;
    z-index: 100;
    @media (min-width: toEm(992)) {
        flex-shrink: 0;
    }
}
.button {
    font-weight: 500;
    padding-inline: toRem(15);
    padding-block: toRem(19);
    border: toRem(1) solid transparent;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
    text-transform: capitalize;
}
.social {
    display: flex;

    // .social__link

    &__link {
        @media (any-hover: hover) {
            &:hover {
                & .social__link-icon {
                    fill: #ffffff;
                }
            }
        }
    }

    // .social__link-icon

    &__link-icon {
        width: toRem(30);
        height: toRem(26);
        fill: $brandColor-100;
        transition: fill 0.3s ease-out;
    }
}
.section-header {
    // .section-header__title

    &__title {
        font-family: "Cormorant", serif;
        text-transform: uppercase;
        color: #ffffff;
        @include adaptiveValue("font-size", 70, 30);
    }

    // .section-header__text

    &__text {
        @include adaptiveValue("font-size", 20, 16);
        line-height: 1.6;
    }
}
