.hero {
    position: relative;
    min-height: 100vh;
    padding-block-start: toRem(100);
    @include adaptiveValue("padding-block", 100, 40);
    display: flex;

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        height: 100%;
    }
    &::before {
        width: 50%;
        background-color: $brandColor-100;
    }
    &::after {
        width: 100%;
        @media (max-width: toEm(767.98)) {
            backdrop-filter: brightness(50%);
        }
    }
    // .hero__backgroung

    &__backgroung {
        max-width: toRem(921);
        max-height: 90%;
        aspect-ratio: 921 / 851;
        position: absolute;
        inset-block-end: 0;
        inset-inline-start: 50%;
        transform: translateX(-50%);
    }
    // .hero__container

    &__container {
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        gap: toRem(40) toRem(77);
        @media (max-width: toRem(767.98)) {
            flex-wrap: wrap;
            align-items: flex-end;
        }
    }

    // .hero__content

    &__content {
        flex-grow: 1;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        @media (max-width: toRem(767.98)) {
            width: 100%;
        }
    }

    // .hero__header

    &__header {
        width: 100%;
        &:not(:last-child) {
            margin-block-end: toRem(53);
        }
        & .section-header__title {
            @include adaptiveValue("font-size", 90, 50);
            max-width: 4.95em; /* 445/90 */
            & span {
                display: block;
                text-align: end;
            }
            &:not(:last-child) {
                margin-block-end: toRem(55);
            }
            @media (min-width: toEm(992)) {
                &:not(:last-child) {
                    margin-block-end: toRem(115);
                }
            }
        }
        & .section-header__text {
            margin-inline-start: auto;
            @include adaptiveValue("font-size", 22, 18);
            max-width: 14.82em;
            @media (max-width: toEm(767.98)) {
                color: #ffffff;
            }
        }
        @media (min-width: toEm(992)) {
            &:not(:last-child) {
                margin-block-end: toRem(83);
            }
        }
    }

    // .hero__button

    &__button {
        font-size: toRem(26);
        border-width: toRem(1.5);
        border-left-color: $mainTextColor;
        border-top-color: $mainTextColor;
        border-bottom-color: $mainTextColor;
        min-width: toRem(238);
        position: relative;
        will-change: color, border-color;
        transition-property: color, border-color;

        &::after,
        &::before {
            content: "";
            width: toRem(1.5);
            height: 33.3%;
            background-color: $mainTextColor;
            position: absolute;
            transition:
                background-color 0.4s ease-out,
                height 0.4s ease-out;
        }
        &::before {
            inset-inline-end: toRem(-1);
            inset-block-start: 0;
        }
        &::after {
            inset-inline-end: toRem(-1);
            inset-block-end: 0;
        }
        @media (any-hover: hover) {
            &:hover {
                color: #ffffff;
                border-left-color: #ffffff;
                border-top-color: #ffffff;
                border-bottom-color: #ffffff;
                &::before,
                &::after {
                    height: 50%;
                    background-color: #ffffff;
                }
            }
        }
    }

    // .hero__social

    &__social {
        max-height: 98%;
        display: flex;
        align-items: center;
        gap: toRem(36);

        &::after,
        &::before {
            content: "";
            height: toRem(2);
            background-color: $brandColor-100;
            flex-grow: 1;
            @media (min-width: toRem(768)) {
                width: toRem(2);
                height: auto;
            }
        }
        & .social {
            row-gap: toRem(59);
            flex-grow: 1;
            justify-content: space-between;
            @include adaptiveValue("column-gap", 59, 10);
            @media (min-width: toRem(768)) {
                flex-direction: column;
                flex-grow: 0;
            }
        }
        @media (max-width: toRem(767.98)) {
            width: 100%;
        }
        @media (min-width: toRem(768)) {
            flex-direction: column;
        }
        @media (min-width: toEm(1220)) {
            margin-inline-end: toRem(-15);
        }
    }
}

.about {
    // .about__container

    &__container {
        padding-block-end: toRem(68);
        @include adaptiveValue("padding-block-start", 152, 50);
    }
    &__header-wrapper {
        // &::after {
        //     content: "";
        //     margin-inline-start: toRem(117);
        //     margin-block-start: toRem(-10);
        //     height: toRem(167.5);
        //     width: toRem(32);
        //     background: url("../images/icons/arrow-long.svg") center/contain no-repeat;
        // }
    }
    &__scroll-icon {
        width: toRem(30);
        height: toRem(170);
        fill: $brandColor-100;
        margin-inline-start: toRem(117);
        margin-block-start: toRem(-10);
    }
    // .about__header

    &__header {
        display: flex;
        justify-content: space-between;
        gap: toRem(30) toRem(15);
        // .section-header__title

        & .section-header__title {
        }

        // .section-header__text

        & .section-header__text {
            max-width: toRem(512);
        }
        @media (min-width: toEm(992)) {
            padding-inline-end: toRem(30);
        }
    }

    // .about__counter

    &__counter {
    }
}

.counter-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: toRem(30);
    @include adaptiveValue("column-gap", 117, 20);
    color: #ffffff;
    text-align: end;
    text-transform: capitalize;
    padding-block: toRem(16);
    // .counter-about__item
    &__item {
        padding-inline-end: toRem(37);
        padding-block: toRem(29);
        border-inline-end: toRem(1.5) solid #ffffff;
    }

    // .counter-about__item-data

    &__item-data {
        font-family: "Cormorant", serif;
        @include adaptiveValue("font-size", 60, 20);
        &:not(:last-child) {
            margin-block-end: toRem(21);
        }
    }

    // .counter-about__item-data-name

    &__item-data-name {
        @include adaptiveValue("font-size", 24, 16);
    }
}
