.hero {
    position: relative;
    min-height: 100vh;
    padding-block-start: toRem(100);
    @include adaptiveValue("padding-block", 100, 40);
    display: flex;

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        height: 100%;
    }
    &::before {
        width: 50%;
        background-color: $brandColor-100;
    }
    &::after {
        width: 100%;
        @media (max-width: toEm(767.98)) {
            backdrop-filter: brightness(50%);
        }
    }
    // .hero__backgroung

    &__backgroung {
        max-width: toRem(921);
        max-height: 90%;
        aspect-ratio: 921 / 851;
        position: absolute;
        inset-block-end: 0;
        inset-inline-start: 50%;
        transform: translateX(-50%);
    }
    // .hero__container

    &__container {
        width: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        gap: toRem(40) toRem(77);
        @media (max-width: toRem(767.98)) {
            flex-wrap: wrap;
            align-items: flex-end;
        }
    }

    // .hero__content

    &__content {
        flex-grow: 1;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        @media (max-width: toRem(767.98)) {
            width: 100%;
        }
    }

    // .hero__header

    &__header {
        width: 100%;
        &:not(:last-child) {
            margin-block-end: toRem(53);
        }
        & .section-header__title {
            @include adaptiveValue("font-size", 90, 50);
            max-width: 4.95em; /* 445/90 */
            & span {
                display: block;
                text-align: end;
            }
            &:not(:last-child) {
                margin-block-end: toRem(55);
            }
            @media (min-width: toEm(992)) {
                &:not(:last-child) {
                    margin-block-end: toRem(115);
                }
            }
        }
        & .section-header__text {
            margin-inline-start: auto;
            @include adaptiveValue("font-size", 22, 18);
            max-width: 14.82em;
            @media (max-width: toEm(767.98)) {
                color: #ffffff;
            }
        }
        @media (min-width: toEm(992)) {
            &:not(:last-child) {
                margin-block-end: toRem(83);
            }
        }
    }

    // .hero__button

    &__button {
        font-size: toRem(26);
        border-width: toRem(1.5);
        border-left-color: $mainTextColor;
        border-top-color: $mainTextColor;
        border-bottom-color: $mainTextColor;
        min-width: toRem(238);
        position: relative;
        will-change: color, border-color;
        transition-property: color, border-color;

        &::after,
        &::before {
            content: "";
            width: toRem(1.5);
            height: 33.3%;
            background-color: $mainTextColor;
            position: absolute;
            transition:
                background-color 0.4s ease-out,
                height 0.4s ease-out;
        }
        &::before {
            inset-inline-end: toRem(-1);
            inset-block-start: 0;
        }
        &::after {
            inset-inline-end: toRem(-1);
            inset-block-end: 0;
        }
        @media (any-hover: hover) {
            &:hover {
                color: #ffffff;
                border-left-color: #ffffff;
                border-top-color: #ffffff;
                border-bottom-color: #ffffff;
                &::before,
                &::after {
                    height: 50%;
                    background-color: #ffffff;
                }
            }
        }
    }

    // .hero__social

    &__social {
        max-height: 98%;
        display: flex;
        align-items: center;
        gap: toRem(36);

        &::after,
        &::before {
            content: "";
            height: toRem(2);
            background-color: $brandColor-100;
            flex-grow: 1;
            @media (min-width: toRem(768)) {
                width: toRem(2);
                height: auto;
            }
        }
        & .social {
            row-gap: toRem(59);
            flex-grow: 1;
            justify-content: space-between;
            @include adaptiveValue("column-gap", 59, 10);
            @media (min-width: toRem(768)) {
                flex-direction: column;
                flex-grow: 0;
            }
        }
        @media (max-width: toRem(767.98)) {
            width: 100%;
        }
        @media (min-width: toRem(768)) {
            flex-direction: column;
        }
        @media (min-width: toEm(1220)) {
            margin-inline-end: toRem(-15);
        }
    }
}

.about {
    scroll-margin-block-start: toRem(58);
    @media (min-width: toEm(992)) {
        scroll-margin-block-start: toRem(98);
    }
    // .about__container

    &__container {
        @include adaptiveValue("padding-block-end", 68, 30);
        @include adaptiveValue("padding-block-start", 152, 50);
    }

    &__scroll-icon {
        width: toRem(30);
        height: toRem(170);
        fill: $brandColor-100;
        margin-inline-start: toRem(117);
        margin-block-start: toRem(-10);
        @media (max-width: toEm(991.98)) {
            display: none;
        }
    }
    // .about__header

    &__header {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(30) toRem(30);
        // .section-header__title

        & .section-header__title {
            @media (min-width: toEm(768)) {
                & span {
                    display: block;
                }
            }
        }

        // .section-header__text

        & .section-header__text {
            max-width: toRem(512);
            @media (min-width: toEm(540)) {
                margin-inline-start: auto;
            }
        }
        @media (max-width: toEm(991.98)) {
            &:not(:last-child) {
                margin-block-end: toRem(30);
            }
        }
        @media (min-width: toEm(992)) {
            padding-inline-end: toRem(30);
        }
    }

    // .about__slider-wrapper

    &__slider-wrapper {
        padding-block-end: toRem(68);
        @include adaptiveValue("padding-block-start", 106, 30);
    }

    // .about__swiper

    &__swiper {
        &.swiper {
            width: 100%;
        }
        .swiper-wrapper {
            &:not(:last-child) {
                margin-block-end: toRem(59);
            }
        }
        .swiper-slide {
            max-width: toRem(400);
            aspect-ratio: 293 / 358;
            display: flex;
        }
    }

    // .about__swiper-image

    &__swiper-image {
        aspect-ratio: 293 / 358;
        object-fit: cover;
    }

    // .about__swiper-buttons

    &__swiper-buttons {
        display: flex;
        justify-content: center;
        column-gap: toRem(20);
    }

    &__swiper-button-prev,
    &__swiper-button-next {
        width: toRem(24);
        height: toRem(24);
        border-radius: 50%;
        background-color: #ffffff;
        mask: url("../images/icons/arrow.svg") center/contain no-repeat;
        &.swiper-button-disabled {
            background-color: $mainTextColor;
        }
    }
    &__swiper-button-prev {
        transform: rotate(180deg);
    }
}

.counter-about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: toRem(30);
    @include adaptiveValue("column-gap", 117, 20);
    color: #ffffff;
    text-align: end;
    padding-block: toRem(16);
    @media (min-width: toEm(540)) {
        justify-content: center;
    }
    // .counter-about__item
    &__item {
        padding-inline-end: toRem(16);
        padding-block: toRem(14);
        border-inline-end: toRem(1.5) solid #ffffff;
        @media (min-width: toEm(540)) {
            padding-inline-end: toRem(37);
            padding-block: toRem(29);
        }
    }

    // .counter-about__item-data

    &__item-data {
        font-family: "Cormorant", serif;
        @include adaptiveValue("font-size", 60, 20);
        &:not(:last-child) {
            margin-block-end: toRem(21);
        }
    }

    // .counter-about__item-data-name

    &__item-data-name {
        @include adaptiveValue("font-size", 24, 16);
    }
}

.portfolio {
    @include adaptiveValue("padding-block-start", 76, 40);
    @include adaptiveValue("padding-block-end", 93, 40);
    // .portfolio__container

    &__container {
        &:not(:last-child) {
            margin-block-end: toRem(40);
        }
        @media (min-width: toRem(992)) {
            &:not(:last-child) {
                margin-block-end: toRem(107);
            }
        }
    }

    // .portfolio__header

    &__header {
        text-align: end;
        &:not(:last-child) {
            margin-block-end: toRem(32);
        }
        @media (min-width: toRem(992)) {
            &:not(:last-child) {
                margin-block-end: toRem(56);
            }
        }
    }

    // .portfolio__collection

    &__collection {
        height: toRem(705);
        overflow-x: auto;
        scrollbar-color: $mainTextColor $backgroundColor;
        scrollbar-width: thin;
        position: relative;
    }
    &__collection-button {
        position: absolute;
        inset-block-end: toRem(76);
        inset-inline-start: 50%;
        transform: translateX(-50%);
        text-transform: inherit;
        color: #ffffff;

        @include adaptiveValue("font-size", 39, 24);
        padding-inline: toRem(25);
        padding-block-start: toRem(3);
        padding-block-end: toRem(5);
        background: rgba(102, 102, 102, 0.21);
        backdrop-filter: blur(4px);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(6);
        &::after {
            content: "";
            width: toRem(81);
            height: toRem(16);
            background: url("../images/icons/arrow-long-white.svg") center/contain no-repeat;
            // transform: rotate(-90deg);
        }
        @media (min-width: toRem(539)) {
            inset-inline-start: toRem(162);
            transform: translateX(0);
        }
    }
    &__collection-content {
        margin: 0 auto;
        width: fit-content;
        max-height: 100%;
        display: grid;
        gap: toRem(16);
        grid-template-columns: minmax(toRem(238), toRem(301)) minmax(toRem(291), toRem(301));
        grid-auto-columns: minmax(toRem(238), toRem(301));
        grid-template-rows: repeat(3, minmax(toRem(178), 33%));
        grid-auto-flow: column dense;
    }

    // .portfolio__collection-item

    &__collection-item {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: toRem(5) toRem(25);
    @media (min-width: toRem(992)) {
        gap: toRem(10) toRem(69);
    }
    // .filter-form__label

    &__label {
        position: relative;
        font-family: "Cormorant", serif;
        font-size: toRem(30);
        font-weight: 500;
        line-height: 1.6;
        &:has(:checked) {
            color: #ffffff;
            text-shadow: 0 0 toRem(2) #ffffff;
        }
    }
    &__checkbox {
        border: 0;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        width: 1px;
    }
}
.advantages {
    // .advantages__container

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(toRem(231), 1fr));
        gap: toRem(10) toRem(30);
        @media (max-width: toEm(991.98)) {
            & > *:nth-child(2) {
                grid-column-start: 1;
            }
        }
        @media (min-width: toEm(992)) {
            grid-template-columns: auto 1fr auto;
            row-gap: toRem(50);
            & > *:nth-child(3n + 2) {
                justify-self: center;
            }
        }
    }

    // .advantages__header

    &__header {
        & > *:not(:last-child) {
            margin-block-end: toRem(24);
        }
        @media (min-width: toEm(510.98)) and (max-width: toEm(991.98)) {
            grid-column: span 2;
        }
        @media (min-width: toEm(992)) {
            max-width: toRem(367);
        }
    }

    // .advantages__benefit

    &__benefit {
        @media (min-width: toEm(768)) {
            max-width: toRem(231);
        }
    }
}

.benefit {
    @include adaptiveValue("padding-block-start", 24, 10); // padding-inline: toRem(29);
    padding-block-end: toRem(15);
    line-height: 1.6;
    transition: color 0.4s ease-out;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: calc(100% + 58px);
        height: 100%;
        inset-inline-start: toRem(-29);
        inset-block-start: 0;
        border: toRem(3) solid transparent;
        transition: border-color 0.4s ease-out;
    }
    & > *:not(:last-child) {
        margin-block-end: toRem(10);
    }

    // .benefit__icon

    &__icon {
        width: toRem(30);
        height: toRem(30);
        transition: filter 0.3s ease-out;
    }

    // .benefit__title

    &__title {
        font-size: toRem(20);
        font-weight: 500;
    }

    // .benefit__text

    &__text {
        font-weight: 300;
        @media (min-width: toEm(992)) {
            padding-inline-end: toRem(15);
        }
    }
    @media (min-width: toEm(992)) {
        padding-block-end: toRem(30);
    }
    @media (any-hover: hover) {
        &:hover {
            color: #ffffff;
            &::after {
                border-color: $brandColor-100;
            }
            img {
                filter: invert(1) brightness(5);
            }
        }
    }
}
