.hero {
    position: relative;
    height: 100vh;
    // overflow-y: auto;
    padding-block: toRem(100);
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        height: 100%;
    }
    &::before {
        width: 50%;
        background-color: $brandColor-100;
    }
    &::after {
        width: 100%;
        @media (max-width: toEm(767.98)) {
            backdrop-filter: brightness(50%);
        }
    }
    // .hero__backgroung

    &__backgroung {
        max-width: toRem(921);
        max-height: 90%;
        aspect-ratio: 921 / 851;
        position: absolute;
        inset-block-end: 0;
        inset-inline-start: 50%;
        transform: translateX(-50%);
    }
    // .hero__container

    &__container {
        position: relative;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    // .hero__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }

    // .hero__header

    &__header {
        width: 100%;
        &:not(:last-child) {
            margin-block-end: toRem(53);
        }
        & .section-header__title {
            @include adaptiveValue("font-size", 90, 50);
            max-width: 4.95em; /* 445/90 */
            & span {
                display: block;
                text-align: end;
            }
            &:not(:last-child) {
                margin-block-end: toRem(55);
            }
            @media (min-width: toEm(992)) {
                &:not(:last-child) {
                    margin-block-end: toRem(115);
                }
            }
        }
        & .section-header__text {
            margin-inline-start: auto;
            @include adaptiveValue("font-size", 22, 18);
            max-width: 14.82em;
            @media (max-width: toEm(767.98)) {
                color: #ffffff;
            }
        }
        @media (min-width: toEm(992)) {
            &:not(:last-child) {
                margin-block-end: toRem(83);
            }
        }
    }

    // .hero__button

    &__button {
        font-size: toRem(26);
        border-width: toRem(1.5);
        border-left-color: $mainTextColor;
        border-top-color: $mainTextColor;
        border-bottom-color: $mainTextColor;
        min-width: toRem(238);
        position: relative;
        will-change: color, border-color;
        transition-property: color, border-color;
        &::after,
        &::before {
            content: "";
            width: toRem(1.5);
            height: 33.3%;
            background-color: $mainTextColor;
            position: absolute;
            transition: background-color 0.4s ease-out;
        }
        &::before {
            inset-inline-end: toRem(-1.5);
            inset-block-start: 0;
        }
        &::after {
            inset-inline-end: toRem(-1.5);
            inset-block-end: 0;
        }
        @media (any-hover: hover) {
            &:hover {
                color: #ffffff;
                border-color: #ffffff;
                &::before,
                &::after {
                    background-color: #ffffff;
                }
            }
        }
    }

    // .hero__social

    &__social {
        position: absolute;
    }
}
