$maxWidth: 1440;
$minWidth: 320;
$containerWidth: 1200;
$containerPadding: 10;
$maxWidthContainer: $containerWidth + $containerPadding * 2;

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

$mainTextColor: #898d92;
$backgroundColor: #0d0f11;
$brandColor: #141f24;
$brandColor-100: #233942;
