@use "sass:math";
@import "fonts";
@import "reset";
@import "variables";
@import "mixins";
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    color: $mainTextColor;
    background-color: $backgroundColor;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}

[class$="__container"] {
    max-width: toRem($maxWidthContainer); //1200
    padding-inline: toRem($containerPadding);
    margin: 0 auto;
}

@import "common";
@import "header";
@import "main";
@import "footer";
